<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>EJS Tags</title>
    
</head>
<body>
    <h1><%=data['title']%></h1>
    <p>Current Second: <%=data.Seconds%></p>
    <%if (data.Seconds % 2===0){%>
    <ul>
        <%for(i in data['items']) {%>
        <li>
            <%= data['items'][i] %>
        </li>
        <%}%>
    </ul>
    <%}else{%>
        <p>It is an odd Second(<%=data.Seconds%>) so No content to display</p>
        <%}%>
    <p><%- data.htmlContent %></p>
</body>
<%- include('footer2.ejs') %>
</html>